*,*:after,*:before{
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box ;
  -ms-box-sizing:border-box;
  box-sizing:border-box;
}
body{
  font-family: arial;
  font-size:16px ;
  margin: 0;
  background:linear-gradient(to right bottom,#981515,#0b0b0b);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #000;
}
.voice_to_text{
    width: 600px;
    text-align:center;

}
#convert_text{
  width:600px ;
  height:300px;
  border-radius:10px ;  
  resize:none;
  padding:10px ;
  font-size:20px;
  margin-bottom: 10px;
}
h1{
  font-size: 50px;
  color: #fff;

}
button{
  padding:12px 20px ;
  background:#790202d5;
  border: 0;
  border-radius:5px;
  cursor: pointer;
  color:#fff;
}